@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        @using (Html.BeginForm())
        {

            @Html.TextBox("text1")
            <br />
            @Html.CheckBox("check1")
            <br />
            @Html.DropDownList("list1")
            <hr />
           <input type="submit" text="Submit" value="send"/> 

        }

    </div>
</main>